# Fichiers compilés Java
*.class
*.jar
*.war
*.ear

# Dossiers de build
target/
build/
out/
bin/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/

# Système
.DS_Store
Thumbs.db
/nbproject/private/
