

.root {
    -fx-font-family: "Arial";
}

.button {
    -fx-cursor: hand;
}

.text-field, .password-field {
    -fx-pref-width: 250;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: -50px; 
  top: 100px;
}
.input-field {
    -fx-border-color: #ad9dbcff;
    -fx-border-width: 2;
    -fx-border-radius: 6;
}
.combo-box.input-field {
    -fx-background-color: linear-gradient(to right, #c7b9be, #ac96c1);
    -fx-text-fill: white;
    -fx-font-size: 10;
    -fx-background-radius: 8;
}
.input-field.error {
    -fx-border-color: red;
    -fx-border-width: 3;
}
.dialog-pane {
    -fx-background-color: #ffe6f0;
    -fx-background-radius: 30;   
    -fx-border-color: #ff5fa2;
    -fx-border-radius: 30;
    -fx-border-width: 3;
}
